@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap');

html{
    font-size: 16px;
}

body {
    font-family: "Cabin", sans-serif;
}

/*Navbar*/
.navbar{
    background-color: #373A3C;
    color: #FFFFFF;
}

.navbar h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Header*/

.bold{
    font-weight: bold;
}

.opacity{
    opacity: 1;
}

h2.bold.py-3 {
    width: 75%;
}

button.btn.btn-light {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
}

.carousel-indicators [data-bs-target] {
   
    width: 1rem;
    height: 1rem;
    transition: opacity .6s ease;
    border-radius: 50%;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #373A3C;
}

.carousel-indicators {
    margin-bottom: 0.5rem;

}

/*InformacionPreparacion*/
.InformacionPreparacion u{
    text-underline-offset: 15px;
}

.card-body {
    min-height: 88px;
}

/*Contacto*/
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-danger{
    border-color: #FFFFFF;
}

/*Footer*/
.footer{
    background-color: #373A3C;
    color: #FFFFFF;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alert-success{
    display: none;
}

.red{
    color: red;
}

.black{
    color: black;
}
@media only screen and (max-width: 768px) {  
    
    .details {
        text-align: center;
        
    }
    
    h2.bold.py-3{
        width: auto;   
    }
}